#portfolio-app {
  width: 600px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
